*{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(22, 22, 22, 0.53),rgba(15, 15, 15, 0.419)),url(2049.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
div img{
    width: 270px;
    position: fixed;
    bottom: 32%;
    left: 7%;

}
.box{
    width: 1536px;
    height: 480px;
    background: #00000063;
}
.box1{
    width: 400px;
    height: 720px;
    position: fixed;
    top: 0%;
    background: #00000092;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position:static;
}
.nav-links ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
      
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #000000;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
    
}
.sola-kaydir{
    float: left;
    padding:0 10px 10px 0;
    border-radius: 50%;
}
.sola-kaydir1{
    float: left;
    width: 200px;
    padding:0 7px 7px 0;
    border-radius: 50%;
    top: 3%;
    left: 6%;
 
}
.text-box{
    width: 90%;
    color: #fff;
    position: fixed;
    top: 45%;
    left: 64%;
    transform: translate(-50%,-50%);
    text-align: left;
}
.text-box1{
    font-size: 25px;
    color: #fff;
    position: fixed;
    top: 40%;
    left: 42%;
    transform: translate(-50%,-50%);
}
.text-box h2{
    font-size: 40px;
    text-align: left;
    position: fixed;
    top: 60%;
    right: 40%;
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 18px;
    text-align: left;
    position: fixed;
    left: 10%;
    color: #fff;
   
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: fixed;
    bottom: -180%;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #000000;
    background: #000000;
    transition: 1s;
}
nav .fa{
    display: none;
}

.textkisisel{
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    color: #fff;
    position: fixed;
    top: 47%;
    left: 1%;
}
.textisim{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    position: fixed;
    top: 32%;
    left: 5%; 
}
.box2{
    width: 400px;
    height: 60px;
    background: rgba(255, 255, 255, 0.279);
    position: fixed;
    top: 31.5%;
    left: 0%;
}
.call{
    position: fixed;
    top: 53%;
    left: 1%;
    color: rgb(10, 153, 36);
}
.textisim1{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 53%;
    left: 3%;   
}
.mail{
    position: fixed;
    top: 58%;
    left: 1%;
    color: rgb(148, 149, 148);
}
.textisim2{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 58%;
    left: 3%;      
}
.home{
    position: fixed;
    top: 63%;
    left: 1%;
    color: rgb(34, 97, 149);
}
.textisim3{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 63%;
    left: 3%; 
}
.calendar{
    position: fixed;
    top: 68%;
    left: 1%;
    color: rgb(210, 147, 0);
}
.textisim4{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 68%;
    left: 3%; 
}
.location{
    position: fixed;
    top: 73%;
    left: 1%;
    color: rgb(85, 85, 85);
}
.textisim5{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 16px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 73%;
    left: 3%;
}
.textyetenek{
    font-family: 'Poppins', sans-serif;
    font-size: 29px;
    color: #fff;
    position: fixed;
    top: 45%;
    left: 59%;
}
.yaraticilik{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 54%;
    left: 38%;
}
.analitik{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 59%;
    left: 38%;
}
.elestiri{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 64%;
    left: 38%;
}
.plan{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 69%;
    left: 38%;
}
.problem{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 74%;
    left: 38%;
}
.ekip{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 17px;
    color: rgb(255, 255, 255);
    position: fixed;
    top: 79%;
    left: 38%;
}

*{box-sizing: border-box}

.container {
  width: 10%;
  height: 10px;
  
}

.skills {
  text-align: right;
  width: 20%;
  padding-top: 5px;
  padding-bottom: 5px;
  color: white;
}

.yrtclk1 {
font-size: 14px;
width: 16%;
height: 3%; 
background-color: #047300;
position: fixed;
left: 55%;
top: 54%;
}
.analitik1 {
font-size: 14px;
width: 15%;
height: 3%; 
background-color: #059700;
position: fixed;
left: 55%;
top: 59%;
}
.elestiri1 {
font-size: 14px;
width: 16%;
height: 3%; 
background-color: #047300;
position: fixed;
left: 55%;
top: 64%;
}
.plan1 {
font-size: 14px;
width: 8%;
height: 3%; 
background-color: #ed7225;
position: fixed;
left: 55%;
top: 69%;
}
.problem1{
    font-size: 14px;
    width: 16%;
    height: 3%; 
    background-color: #047300;
    position: fixed;
    left: 55%;
    top: 74%;
}
.ekip1{
    font-size: 14px;
    width: 6%;
    height: 3%; 
    background-color: #c63810;
    position: fixed;
    left: 55%;
    top: 79%;
}
.box4{
    width: 800px;
    height: 40px;
    background: rgba(0, 0, 0, 0.771);
    position: fixed;
    top: 15%;
    left: 37%;
    border-radius: 25px;
}
.egitim{
    font-size: 25px;
    font-weight: bold;
    width: 400px;
    height: 40px;
    position: fixed;
    top: 15%;
    left: 50%;
}
.egitim1{
    font-size: 17px;
    position: fixed;
    top: 23%;
    left: 38%;
}
.egitim2{
    font-size: 17px;
    position: fixed;
    top: 27%;
    left: 38%;
}
.box5{
    width: 800px;
    height: 40px;
    background: rgba(0, 0, 0, 0.771);
    position: fixed;
    top: 45%;
    left: 37%;
    border-radius: 25px;  
}





@media (max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: #2a2a2a;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
    .nav-links ul li a{
        font-size: 15px;
    }
}